<div>
    <h3>Horizontal Stepper</h3>
    <mat-horizontal-stepper #stepper>
        <mat-step label="Shipping Address">
            <p>Shipping Address Details</p>
            <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step label="Billing Address">
            <p>Billing Address Details</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step label="Place Order">
            <p>Order Details</p>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </mat-step>
    </mat-horizontal-stepper>
</div>

<div>
    <mat-horizontal-stepper #steppers linear>
        <mat-step label="Shipping Address" completed=true>
            <p>Shipping Address Details</p>
            <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step label="Billing Address" completed=false optional>
            <p>Billing Address Details</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step label="Place Order" completed=false>
            <p>Order Details</p>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="steppers.reset()">Reset</button>
        </mat-step>
    </mat-horizontal-stepper>
</div>


<div>
    <h3>Vertical Stepper</h3>
    <mat-vertical-stepper linear #stepper>
        <mat-step label="Shipping Address" completed=true>
            <p>Shipping Address Details</p>
            <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step label="Billing Address" completed=false optional>
            <p>Billing Address Details</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step label="Place Order" completed=false>
            <p>Order Details</p>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </mat-step>
    </mat-vertical-stepper>
</div>

<div>
    <mat-horizontal-stepper labelPosition="bottom" #stepper linear>
        <mat-step completed=true>
            <ng-template matStepLabel>Shipping Address</ng-template>
            <p>Shipping Address Details</p>
            <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step completed=false optional>
            <ng-template matStepLabel>Billing Address</ng-template>
            <p>Billing Address Details</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step completed=false>
            <ng-template matStepLabel>Order Details</ng-template>
            <p>Order Details</p>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </mat-step>
    </mat-horizontal-stepper>
</div>
