<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Material</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>


<mat-sidenav-container>
  <mat-sidenav #sidenav (opened)="log('Opened')" (closed)="log('Closed')" mode="side" [(opened)]="opened">
    <mat-list dense>
      <mat-list-item>Item 1</mat-list-item>
      <mat-list-item>Item 2</mat-list-item>
      <mat-list-item>Item 3</mat-list-item>
    </mat-list>

    <mat-nav-list dense>
      <a mat-list-item href="#">Home</a>
      <a mat-list-item href="#">About</a>
      <a mat-list-item href="#">Services</a>
    </mat-nav-list>

    <mat-list dense>
      <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <h3 matLine>Heading</h3>  
        <p matLine>Line</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine>Heading 2</h3>  
        <p matLine>Line 2</p>
      </mat-list-item>
    </mat-list>
    
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-icon (click)="opened =! opened">dehaze</mat-icon>
    <!-- Main
    <mat-button-toggle (click)="opened=!opened" >Toggle</mat-button-toggle>
      <button (click)="sidenav.open()">Open</button>
      <button (click)="sidenav.close()">Close</button>
      <button (click)="sidenav.toggle()">Toggle</button> -->

      <mat-menu #appMenu="matMenu" xPosition="after" yPosition="below">
        <!-- xPosition can take values of before or after 
             yPosition can take values of above or below -->
        <button mat-menu-item [matMenuTriggerFor]="subMenu">FrontEnd</button>
        <button mat-menu-item>BackEnd</button>
      </mat-menu>

      <button mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>
      <mat-menu #subMenu="matMenu">
        <button mat-menu-item>Angular</button>
        <button mat-menu-item>React</button>
        <button mat-menu-item>Vue</button>
      </mat-menu>

      <mat-menu #lazyMenu="matMenu">
        <ng-template matMenuContent let-name="name" let-hobby="hobby">
          <button mat-menu-item>Settings</button>
          <button mat-menu-item>Hobby is {{hobby}}</button>
          <button mat-menu-item>Logout {{name}}</button>
        </ng-template>
      </mat-menu>

      <button mat-flat-button [matMenuTriggerData]="{name: 'Akshay', hobby: 'Programming'}"[matMenuTriggerFor]="lazyMenu">Akshay</button>
      <button mat-flat-button [matMenuTriggerData]="{name: 'Lucky', hobby: 'Gaming'}" [matMenuTriggerFor]="lazyMenu">Lucky</button>
  </mat-sidenav-content>
</mat-sidenav-container>



