<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Material</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav> -->

<mat-toolbar color="primary" class="navbar">
  
  <div>Material</div>
    
  <div>
    <span class="tool">Home</span>
    <span class="tool">About</span>    
    <span class="tool">Services</span>    
  </div>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sidenav (opened)="log('Opened')" (closed)="log('Closed')" mode="side" [(opened)]="opened">
    
    <mat-nav-list dense>
      <a mat-list-item routerLink="/badge" routerLinkActive="active">Badge</a>
      <a mat-list-item routerLink="/button" routerLinkActive="active">Button</a>
      <a mat-list-item routerLink="/card" routerLinkActive="active">Card</a>
      <a mat-list-item routerLink="/dialog" routerLinkActive="active">Dialog</a>
      <a mat-list-item routerLink="/expansion-panel" routerLinkActive="active">Expansion Panel</a>
      <a mat-list-item routerLink="/grid-list" routerLinkActive="active">Grid List</a>
      <a mat-list-item routerLink="/inputs" routerLinkActive="active">Inputs</a>
      <a mat-list-item routerLink="/list" routerLinkActive="active">List</a>
      <a mat-list-item routerLink="/menu" routerLinkActive="active">Menu</a>
      <a mat-list-item routerLink="/progress-spinner" routerLinkActive="active">Progress Spinner</a>      
      <a mat-list-item routerLink="snack-bar" routerLinkActive="active">Snack Bar</a>      
      <a mat-list-item routerLink="stepper" routerLinkActive="active">Stepper</a>      
      <a mat-list-item routerLink="/table" routerLinkActive="active">Table</a>      
      <a mat-list-item routerLink="/tabs" routerLinkActive="active">Tabs</a>      
      <a mat-list-item routerLink="/typography" routerLinkActive="active">Typography</a>
      <a mat-list-item routerLink="/virtual-scrolling" routerLinkActive="active">Virtual Scrolling</a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-icon (click)="opened =! opened">dehaze</mat-icon>
    
<!-- <mat-button-toggle (click)="opened=!opened" >Toggle</mat-button-toggle>
      <button (click)="sidenav.open()">Open</button>
      <button (click)="sidenav.close()">Close</button>
      <button (click)="sidenav.toggle()">Toggle</button> -->
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



