.navbar {
    justify-content: space-between;
    height: 8%;
}

.tool{
    padding-right: 1rem;
} 

.mat-toolbar.mat-primary {
    background: #673ab7;
    color: #fff;
}

.active {
    color: #039be5;
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav, mat-sidenav-content {
    padding: 16px;
}

mat-sidenav {
    background-color: #fff;
    color: rgba(0,0,0,.87);
    width: 200px;
}

mat-sidenav-content{
    background-color: #e9e9e9;
    color: rgba(0,0,0,.87);
}

.center {
    margin: 10rem;
}