.navbar {
    justify-content: space-between;
    height: 8%;
}

.tool{
    padding-right: 1rem;
} 

.active {
    color: #039be5;
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav, mat-sidenav-content {
    padding: 16px;
}

mat-sidenav {
    background-color: lightcoral;
    width: 200px;
}

.center {
    margin: 10rem;
}